.auc-cont {
  text-align: center;
  font-family: "black ops one";
  font-size: 3rem;
  padding-top: 0.3rem;
}

.gladpic {
  display: block;
  border-radius: 20%;
  float: left;
}

.navbarz {
  color: orange;
}

.bttn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  width: 60px;
  border-radius: 20%;
  padding: 10px 10px 10px 10px;
}

input.bid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  width: 120px;
  border-radius: 10%;
  padding: 10px 10px 10px 10px;
}

.soap {
  display: inline-block;
  border-radius: 20%;
}

img {
  height: 35vh;
  width: 25vw;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

section {
  display: inline-block;
}
