html {
  background: linear-gradient(60deg, orange, black);
  /* font-family: "Black Ops One", cursive;  */
}

img:hover {
  opacity: 0.5;
}

.primusdaotopleft {
  background-image: url(primuslogo.jpg);
  height: 250px;
  width: 800px;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
}

.sponsor {
  /*  font-family: "Black Ops One", cursive;  */
  background-image: url(primusdaologo.jpg);
  height: 250px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.komori {
  border-radius: 15%;
  width: 350px;
  max-height: 300px;
  /* box-shadow: 3px 3px grey; */
  padding: 10px 20px 10px 20px;
}

.player-two {
  width: 335px;
  border-radius: 15%;
  max-width: 500px;
  max-height: 300px;
  padding: 10px 10px 10px 10px;
}

.winter {
  width: 350px;
  border-radius: 15%;
  max-width: 500px;
  max-height: 300px;
  padding: 10px 20px 10px 20px;
}

.lonely {
  border-radius: 15%;
  max-width: 475px;
  max-height: 300px;
  padding: 10px 20px 10px 20px;
}

div.header {
  overflow: hidden;
}

.thesponsors {
  color: black;
  text-align: center;
  font-family: "black ops one", cursive;
  font-size: 75px;
}

.top-left-logo {
  border-radius: 50%;
  align-items: center;
}

img {
  align-items: center;
}
/* footer {
  background-image: url(veveve.jpg);
  height: 250;
  width: 5076;
}     

*/

.veveve {
  height: 500px;
  width: 500px;
}

/* footer {
  background-image: url("veveve.jpg");
  padding: 10px;
  text-align: center;
}
*/

section {
  height: 200px;
  background-image: url(veveve.jpg);
}

.large-cont {
  color: rgb(207, 139, 12);
  background-color: black;
  height: 50px;
  width: 100%;
  display: inlinel;
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.navbarz {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "black ops one", cursive;
  text-align: center;
}

.sentries {
  width: 375px;
  border-radius: 15%;
  max-width: 500px;
  max-height: 300px;
  /* box-shadow: 3px 3px grey; */
  padding: 10px 20px 10px 20px;
}

.revs {
  width: 375px;
  border-radius: 15%;
  max-width: 500px;
  max-height: 300px;
  /* box-shadow: 3px 3px grey; */
  padding: 10px 20px 10px 20px;
}

.represent {
  text-align: center;
  font-family: "black ops one", cursive;
  font-size: 30px;
}

.spnsr {
  margin-left: 10%;
}
